
  <h2>To play rock scissor paper please follow the following rules :</h2>

  <h4>Enter /check-win in the web browser followed by the first players choice, then the second players choice. ie /check-win/rock/paper.</h4>
