<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Rock Scissor Paper</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Welcome to Rock Scissors Paper!</h1>
  <nav>
    <ul>
      <li><a href="/">Home page</a></li>
      <li><a href="/instructions">Instructions</a></li>
    </ul>
    </nav>
<!--
  <h3>Player 1 - select</h3>
  <form action="/result" method="post">
  <input type="text" name="rsp1" value="<%= @rsp1 %>">
  <input type="submit">
</form> -->


<form action="/result" method="post">
  <h3>Player 1 - select</h3>
  <input type="text" name="rsp1" value="<%= @rsp1 %>">
  <input type="submit">
  <h3>Player 2 - select</h3>
  <input type="text" name="rsp2" value="<%= @rsp2 %>">
  <input type="submit">
</form>





  <%= yield %>

</body>
</html>
